@font-face {
  font-family: Bebas;
  src: url("../assets/fonts/BebasNeue-Regular.woff");
}

@font-face {
  font-family: Coolvetica;
  src: url("../assets/fonts/coolvetica_rg.otf");
}
@font-face {
  font-family: Kenoky;
  src: url("../assets/fonts/KenokyLight.ttf");
}
@font-face {
  font-family: Coffee;
  src: url("../assets/fonts/CoffekanRegular.ttf");
}
